* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2e2e;
  color: #ebccc2;
  max-width: 1400px;
  margin: 0 auto;
}

/*****************************************************header**********************************/

header {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  padding-top: 5vh;
  top: 0;
}

.dropdown_language {
  display: none;
}

.nav {
  display: flex;
  margin-bottom: 16vh;
  justify-content: space-between;
  width: 50%;
}

.nav a {
  color: #ebccc2;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav .social {
  display: flex;
  justify-content: space-between;
  width: 35%;
  list-style: none;
}

.language_choose {
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 1%;
  margin-top: -1%;
}

.language_choose:hover {
  border: 2px solid #ebccc2;
}

ul.dropdown_language.active {
  display: block;
  position: absolute;
  top: 8vh;
  left: 91%;
  list-style: none;
  padding-top: 2vh;
}

ul.dropdown_language.active li {
  margin-bottom: 3vh;
}

ul.dropdown_language.active li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/******************************************aside_navigation***********************************/

.aside_navigation {
  position: fixed;
  top: 25vh;
  float: left;
  left: 0;
  padding: 0 0 0 5%;
}

.aside_navigation ul {
  margin: 0;
  list-style: none;
  padding: 0 0 0 40%;
  border-left: 1px solid white;
}

.aside_navigation nav ul li {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 13vh;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.aside_navigation nav ul li::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  position: absolute;
  left: 40%;
  background-color: #2e2e2e;
}

.aside_navigation nav ul li:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

/****************************************************main**********************************/

.magical_home {
  width: 70%;
  margin: 0 0 20vh 20%;
  cursor: pointer;
}

.inspiration {
  margin-left: 20%;
  color: rgba(255, 255, 255, 0.6);
}

.inspiration > p {
  font-size: 1.2em;
  margin-bottom: 2vh;
}

.inspiration h2 {
  font-size: 2.2em;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-bottom: 3vh;
}

.s_d_c {
  display: flex;
  gap: 1%;
}

.s_d_c p {
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 0.8em;
  padding: 0.5%;
  letter-spacing: 0.1em;
  margin-bottom: 1vh;
}

.picture_container {
  margin-top: 18vh;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.picture_container img {
  width: 50%;
}

.picture_container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture_container article p {
  margin-bottom: 3%;
}

.picture_container article .text {
  width: 70%;
  font-size: 1.2em;
}

.container2 img {
  order: 2;
}

.container2 {
  margin-bottom: 15vh;
}
